/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.swal-overlay--show-modal .swal-modal {
    will-change: unset;
}

.swal-button {
    background: #335eea;
    color: white;   
}

.swal-button:not([disabled]):hover {
    background: #335eea;
    color: white;   
}



/* Common */
.question-lead{
    font-size: 23px;
    font-family: cursive;
    font-weight: 400;
}

.header{
    background: red;
    width: 100%;
    padding: 13px 39px 9px 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    color: #ffffff;
    font-family: cursive;
}

.header a{
    margin-right: 50px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}

.header a:hover{
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-size{
    padding-top: 23px;
    float: right;
}


#question-container{
    margin-top: 50px;
    padding: 23px;
    border: 1px solid rgb(184, 125, 125);
    border-radius: 5px;
}

#question-container section{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#question-container section::after{
    content: '';
    border-bottom: 2px solid #cccccc;
}


/* Question with Radio */

#question-container .question-with-radio .radio-container{
    display: flex;
    text-transform: capitalize;
}

#question-container .question-with-radio input[type=radio]{
    margin-top: 20px;
    margin-bottom: 30px;
}


/* Question with Dropdowns */
#question-container .question-with-dropdown select{
    text-transform: capitalize;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

#question-container .question-with-dropdown select:hover {
    outline: none;
    border-color: #888;
}

#question-container .question-with-dropdown select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 0.9px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}


/* Questions with Checkbox */
#question-container .question-with-checkbox .checkbox-wrapper{
    text-transform: capitalize;
}

.question-with-checkbox input[type=checkbox]{
    margin-top: 20px;
    margin-bottom: 30px;
}


/* Text Input */

input{
    padding: 12px 16px;
    border: 3px solid #cccccc;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5rem;
    outline: none;
}




footer{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 0px 35px 30px 35px;
    border: 1px solid rgb(184, 125, 125);
    border-top: none;
}

.submit-btn{
    padding: 6px 12px;
    border: none;
    background: #008CBA;
    color: #ffffff;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    opacity: 0.8;
    font-family: cursive;
}

.submit-btn:hover{
    opacity: 1;
}

#progress{
    height: 10px;
    width: 79px;
    display: block;
    background: green;
}

#page-counter{
    font-family: cursive;
}


@media(max-width: 600px){
    *{
        font-family: sans-serif !important;
    }

    .header a{
        display: none;
    }

    #question-container{
        margin: 10px;
        border: none;
    }

    #question-size{
        margin: 0px 11px;
    }

    .question-lead{
        font-size: 18px;
        line-height: 30px;
    }

    .question-with-radio,
    .checkbox-wrapper
    
    {
        font-size: 15px;
        white-space: nowrap;
    }
}